# Created by https://www.gitignore.io/api/bower,visualstudiocode

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/bower,visualstudiocode